<div class="calendar-container">
  <table class="calendar">
    <thead>
    <th>Time </th>
    <th *ngFor="let day of calendarService.days()"> {{ day }}</th>
    </thead>
    <tbody>
    <tr *ngFor="let time of calendarService.times(); let i = index">
      <td *ngIf="(i % 2) == 0" rowspan="2" class="time">{{calendarService.formatTime(time)}}</td>
      <td *ngFor="let day of calendarService.days(); let j = index"
          [ngClass]="{'available':  availabilityService.availabilityExists(i, j),
                      'selected': selectionService.checkForSelection(i, j) }"
          (mousedown)="calendarService.mouseDownEvent($event, i, j)"
          (document:mouseup)="calendarService.mouseUpEvent($event, i, j)"
          (mouseover)="calendarService.mouseOverEvent($event, i, j)">
        &nbsp;
      </td>
    </tr>
    </tbody>
  </table>

  <div class="calendar-options">
    <div class="button button-add" [ngClass]="{'button-active': calendarService.adding(),
    'button-disabled': calendarService.removing() || calendarService.interestupdating()}" (click)="availabilityService.addAvailability()">
      {{ calendarService.adding() ? "Click to add selected availability" : "Add new availability" }}
    </div>
    <div class="button button-remove" [ngClass]="{'button-active': calendarService.removing(),
    'button-disabled': calendarService.adding() || calendarService.interestupdating()}" (click)="availabilityService.removeAvailability()">
      {{ calendarService.removing() ? "Click to remove selected availability" : "Remove existing availability" }}
    </div>
    <div class="button button-interest" [ngClass]="{
    'button-disabled': calendarService.interestupdating() || calendarService.removing() || calendarService.adding()}" (click)="interestService.changeInterest()">
      Change interests
    </div>
    <div *ngIf="calendarService.adding() || calendarService.removing()" class="button button-cancel" (click)="calendarService.cancelAction()">
      Click here to cancel
    </div>

    <div *ngIf="calendarService.interestupdating()" class="modal" (click)="calendarService.cancelInterestupdating()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-close" (click)="calendarService.cancelInterestupdating()">🗙</div>
        <h2>Your current interests</h2>
        <ul>
          <li *ngFor="let interest of currentInterests"> <span class="interest" (click)="interestService.removeInterest(interest)">{{interest.title}}</span></li>
          <li>
            <span class="new-interest" (click)="interestService.pushInterest(interest.value)">
              <input #interest type="text" (click)="$event.stopPropagation()" (keyup.enter)="interestService.pushInterest(interest.value)">
            </span>
          </li>
        </ul>
        <div *ngIf="calendarService.message() && calendarService.interestupdating()" class="message" [ngClass]="{'success' : calendarService.success(), 'error': calendarService.error()}">{{calendarService.message()}}</div>
      </div>
    </div>

    <div *ngIf="calendarService.message() && !calendarService.interestupdating()" class="message" [ngClass]="{'success' : calendarService.success(), 'error': calendarService.error()}">{{calendarService.message()}}</div>
  </div>
</div>
