.dashboard-page {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);

  h1 {
    text-align: center;
    margin: 20px;
    color: white;
    font-family: Arial, serif;
  }

  .dashboard-container {
    border-radius: 3px;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    padding: 15px 60px;

    .error-message {
      color: #a94442;
      background-color: #f2dede;
      border: 1px solid #ebccd1;
      padding: 10px 15px;
      border-radius: 5px;
    }
  }
}
